:root {
    --midnightGreen: #073B3A;
    --dartmouthGreen: #0B6E4F;
    --pigmentGreen: #08A045;
    --mantis: #6BBF59;
    --ecru: #DDB771;
    --engineeringOrange: #BF0603;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

.header {
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #6b6969;
    color: var(--mantis);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--ecru);
}

.opening-window {
    position: absolute;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    background-color: var(--ecru); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opening-window.hidden{
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.input-grid {
    
    border: 1px solid;
    background-color: whitesmoke;
    display: grid;
    grid: repeat(10, 35px) / repeat(10, 35px);
}

.input-grid .cell {
    border: 1px solid;
}

.opening-window p {
    font-size: 30px;
    /* padding-bottom: 20px; */
}

.opening-window .buttons {
    width: 350px;
    padding: 10px;
    display: grid;
    grid: 1fr / 1fr;
    place-items: center;
}

.opening-window button {
    width: 90px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
}

.opening-window button:hover {
    opacity: 0.8;
}

.game-info {
    width: 80%;
    height: 50px;
    margin: 60px auto 30px auto;
    flex-wrap: wrap;
    gap: 100px;
}

.game-info p {
    text-align: center;
    font-size: 26px;
}
.main {
    height: fit-content;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.main > div {
    height: fit-content;
    border: 2px solid gray;
    border-radius: 3px;
}

.grid {
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 2px;
    display: grid;
    grid: repeat(10, 35px)/ 1fr;
}

.grid > div {
    display: grid;
    grid: 1fr / repeat(10, 35px);
}

.grid, 
.grid > div {
    gap: 3px
}

.cell {
    background-color: #FDF0D5;
    display: grid;
    place-items: center;
    line-height: 0;
    font-size: 9px;
}

.second-grid .cell:hover,
.input-grid .cell:hover {
    background-color: var(--ecru);
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 8px 3px 0;
    margin-top: auto;
}
footer a {
    text-decoration: none;
    color: rgb(99, 99, 99);
}































/* header {
    width: 100%;
    height: 60px;
    background-color: var(--charcoal);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--richBlack);
    
}

.main {
    background-color: var(--robinEggBlue);
    flex: 1;
    min-height: fit-content;
    display: flex;
    padding-top: 20px;
} 

.game-area {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 100%;
    margin: auto;
}

.game-board {
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
}

.game-board p {
    color: var(--charcoal);
    font-size: 26px;
}


.row {
    display: flex;
    gap: 2px;
}

.row > div {
    height: 30px;
    width: 30px;
    border: 1px solid;
    background-color: var(--papayaWhip);
    color: transparent;
} */


